# PostgreSQL
POSTGRES_USER=risk_user
POSTGRES_PASSWORD=risk_password
POSTGRES_DB=risk_radar
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=counterparty-risk-bronze

# EU FSF
EU_FSF_CSV_FULL_URL=

# OpenSanctions
OPENSANCTIONS_SANCTIONS_TARGETS_URL=https://data.opensanctions.org/datasets/latest/sanctions/targets.simple.csv
OPENSANCTIONS_SANCTIONS_INDEX_URL=https://data.opensanctions.org/datasets/sanctions/latest/index.json

# GLEIF
GLEIF_LEI_FULL_URL=https://leidata-preview.gleif.org/api/v2/golden-copies/publishes/lei2/latest.csv
GLEIF_LEI_DELTA_LASTDAY_URL=https://leidata-preview.gleif.org/api/v2/golden-copies/publishes/lei2/latest.csv?delta=LastDay
GLEIF_RR_FULL_URL=https://leidata-preview.gleif.org/api/v2/golden-copies/publishes/rr/latest.csv

# ECB Data Portal
ECB_API_BASE_URL=https://data-api.ecb.europa.eu/service
ECB_DATAFLOW_URL=https://data-api.ecb.europa.eu/service/dataflow

# ECB test series: USD/EUR exchange rate, last observations
ECB_TEST_EXR_USD_EUR_URL=https://data-api.ecb.europa.eu/service/data/EXR/D.USD.EUR.SP00.A?lastNObservations=10

# Planned ECB flow references for the project
ECB_FLOW_EXR=EXR
ECB_FLOW_BSI=BSI
ECB_FLOW_MIR=MIR
ECB_FLOW_EST=EST
ECB_FLOW_YC=YC

# App
APP_ENV=dev
EOF